<a href="https://colab.research.google.com/github/Aziyaa-Subair/learn.py/blob/main/TASK_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Given index=["India","Pakistan","Bangladesh","Srilanka","china","Nepal"] and data=[1,3,5,np.nan,6,8] . Create a table with the "index" as indices and data as values.

      Expected output

        India         1.0
        Pakistan      3.0
        Bangladesh    5.0
        Srilanka      NaN
        China         6.0
        Nepal         8.0
        Name: myseries, dtype: float64

In [21]:
#please type your answer below this line.
import pandas as pd
import numpy as np
d={"India":1.0,"Pakistan":3.0,"Bangladesh":5.0,"Srilanka":np.nan,"China":6.0,"Nepal":8.0}
s=pd.Series(d,name="myseries")
print(s)

India         1.0
Pakistan      3.0
Bangladesh    5.0
Srilanka      NaN
China         6.0
Nepal         8.0
Name: myseries, dtype: float64

2. Create a data 'dates' starting from 2021-01-01 with range 6. and create a random 6x4 array and a list=('ABCD').now create a dataframe with 'dates' as index and list as the column and data as the datas of this table.


  Expected output

                        A	       B	      C	      D
    2021-01-01	-0.429358	0.779826	0.389625	0.248792
    2021-01-02	-1.044721	0.272807	-0.370437	1.177273
    2021-01-03	-0.961394	-0.525376	0.120843	0.470060
    2021-01-04	1.842266	-0.551049	0.588390	-0.326937
    2021-01-05	0.986198	0.391301	-0.084837	-0.855573
    2021-01-06	-1.531207	0.905463	-0.099024	0.589219

In [5]:
#please type 
import pandas as pd
import numpy as np
dates = pd.date_range('01/01/2021', periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2021-01-01  0.974980  0.564132  0.466498 -0.041152
2021-01-02  0.747282  1.120407  0.625128 -2.554660
2021-01-03  0.422967  1.408204  1.446938  0.456769
2021-01-04  0.017714  0.900968  0.070690 -0.607815
2021-01-05 -0.030337  0.102365  1.519229 -1.559216
2021-01-06 -2.523180 -0.604011 -1.092422  1.046723