<a href="https://colab.research.google.com/github/Aziyaa-Subair/learn.py/blob/main/TASK_18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 
Create a DataFrame by passing a random numpy array,with a datetie index and labelled columns.and,
    - slice its first three rows and display.
    - slice its odd indexed rows.
    - display the dates from 1st postion to 4 th position.

In [35]:
#please provide your answer below this line.
import pandas as pd
import numpy as np
dates=pd.date_range('20130911',periods=5)
df = pd.DataFrame(np.random.randn(5,5), index=dates, columns=list('12345'))
print(df)
print("\nFirst three rows")
print(df.iloc[0:3])
print("\nOdd indexed rows")
print(df.iloc[::2])
print("\nDates from 1st to 4th position")
df.index[0:4]

                   1         2         3         4         5
2013-09-11 -0.013529  0.103786  0.846086 -0.919035  1.701553
2013-09-12  0.055694  0.222911 -1.045823 -0.269606 -0.265380
2013-09-13  1.890042  0.396242 -1.207810  0.940477 -0.099118
2013-09-14  0.064691 -0.325816 -0.022206 -0.212311  0.716902
2013-09-15  1.057631  0.422172 -1.832435  1.291712 -1.753554

First three rows
                   1         2         3         4         5
2013-09-11 -0.013529  0.103786  0.846086 -0.919035  1.701553
2013-09-12  0.055694  0.222911 -1.045823 -0.269606 -0.265380
2013-09-13  1.890042  0.396242 -1.207810  0.940477 -0.099118

Odd indexed rows
                   1         2         3         4         5
2013-09-11 -0.013529  0.103786  0.846086 -0.919035  1.701553
2013-09-13  1.890042  0.396242 -1.207810  0.940477 -0.099118
2013-09-15  1.057631  0.422172 -1.832435  1.291712 -1.753554

Dates from 1st to 4th position

DatetimeIndex(['2013-09-11', '2013-09-12', '2013-09-13', '2013-09-14'], dtype='datetime64[ns]', freq='D')

2. Create a DataFrame by passing a random numpy array,with a datetie index and labelled columns.and
  - Dislplay the index from the 1 to 3 date and the columns A and B of respective data.
  - Display the datas at the 3rd index.
  - Display datas from 2nd to 5th.
  - Display the datas from the index 1,2,4 and the column 0 and 2.

In [3]:
#please provide your answer below thins line.
import pandas as pd
import numpy as np
dates=pd.date_range('20001106',periods=6)
df = pd.DataFrame(np.random.randn(6,6), index=dates, columns=list('ABCDEF'))
print(df)
print("\nIndex from 1 to 3 date and the columns A and B")
#print(df.loc[[2000-11-06':'2000-11-08'],['A':'B']])
print(df.iloc[[0,1,2], df.columns.get_indexer(['A', 'B'])])
print("\nData at the 3rd index")
print(df.iloc[[2]])
print("\nData from 2nd to 5th")
print(df.iloc[1:5])
print("\nDatas from index 1,2,4 and the column 0 and 2")
print(df.iloc[[0,1,3],[0,2]])

                   A         B         C         D         E         F
2000-11-06 -0.711201 -0.480354 -0.490060  1.001343 -0.388038  0.555166
2000-11-07 -0.716074 -0.397746  1.104609  0.476236  0.038726 -0.260573
2000-11-08 -0.093731  1.057203  0.179504  0.703401  0.767145 -0.660486
2000-11-09 -0.100842 -0.016227 -0.057231  0.038817 -0.001090 -0.508018
2000-11-10 -0.110130 -0.769860  0.276359  0.077900  0.023826  0.538079
2000-11-11  0.421271  0.610191 -0.708690  1.224341 -0.912442  0.482995

Index from 1 to 3 date and the columns A and B
                   A         B
2000-11-06 -0.711201 -0.480354
2000-11-07 -0.716074 -0.397746
2000-11-08 -0.093731  1.057203

Data at the 3rd index
                   A         B         C         D         E         F
2000-11-08 -0.093731  1.057203  0.179504  0.703401  0.767145 -0.660486

Data from 2nd to 5th
                   A         B         C         D         E         F
2000-11-07 -0.716074 -0.397746  1.104609  0.476236  0.038726 -0.260573
2000-11-08 -0.093731  1.057203  0.179504  0.703401  0.767145 -0.660486
2000-11-09 -0.100842 -0.016227 -0.057231  0.038817 -0.001090 -0.508018
2000-11-10 -0.110130 -0.769860  0.276359  0.077900  0.023826  0.538079

Datas from index 1,2,4 and the column 0 and 2
                   A         C
2000-11-06 -0.711201 -0.490060
2000-11-07 -0.716074  1.104609
2000-11-09 -0.100842 -0.057231